.category-box {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.category-box:before {
  /* content: ""; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.category-box:hover:before {
  opacity: 1;
}

.category-box img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.category-box:hover img {
  transform: scale(1.02);
}

.category-box .category-content {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 20px;
  transition: all 0.5s ease 0s;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.category-box:hover .category-content {
  padding-bottom: 20%;
}

.category-box .title {
  display: block;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  margin: 0px;
}

.category-box .sub-title {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin: 0px;
  line-height: 18px;
  white-space: normal;
  margin-bottom: 10px;
}

.category-box:hover .address {
  max-height: 100px; /* Adjust based on your content height */
  opacity: 1;
  transition: max-height 0.5s ease, opacity 0.3s ease 0.1s;
}

.category-box .address {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  margin: 0;
  line-height: 1.4;
}

.category-box .post {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 10px;
  border: 1px solid #fff;
  padding: 3px 28px 3px 28px;
}

.category-box .icon {
  margin: 0;
}

.category-box .icon li {
  display: inline-block;
}

.category-box .icon li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: #0dab76;
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
  transition: all 0.5s ease 0s;
}

.client-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 20px;
}

.client-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 1px solid #60a54624;
  padding: 20px;
  border-radius: 5px;
}
.client-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  --swiper-navigation-size: 20px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

.logo-loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-loader.small .logo-image {
  width: 60px;
  height: 60px;
}

.logo-loader.medium .logo-image {
  width: 100px;
  height: 100px;
}

.logo-loader.large .logo-image {
  width: 140px;
  height: 140px;
}

.logo-image {
  z-index: 2;
  object-fit: contain;
}

.pulse-effect {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 166, 0, 0.2);
  animation: pulse 1.5s ease-out infinite;
  z-index: 1;
}

.logo-loader.small .pulse-effect {
  width: 70px;
  height: 70px;
}

.logo-loader.medium .pulse-effect {
  width: 110px;
  height: 110px;
}

.logo-loader.large .pulse-effect {
  width: 150px;
  height: 150px;
}

.loader-text {
  margin-top: 20px;
  font-size: 16px;
  color: var(--ion-color-primary);
  font-weight: 500;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  70% {
    transform: scale(1.1);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 992px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.blog-detail-image {
  width: 100%;
  height: 320px;
  position: relative;
}
